/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 606px;
}

/*タブのスタイル*/
.tab_item {
  width: 200px;
  height: 50px;
  border: 1px solid #428bca;
  border-radius: 4px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  transition: all 0.2s ease;
}

/* マウスオーバー時に透過する*/
.tab_item:hover {
  background-color: #faf0e6;
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 0px 0px 40px;
  clear: both;
  overflow: hidden; /*boxからはみ出た部分は非表示にする*/
}

/*選択されているタブ(ラジオボタン)のコンテンツのみを表示*/
#tab1:checked ~ #tab1_content,
#tab2:checked ~ #tab2_content,
#tab3:checked ~ #tab3_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #428bca;
  color: #fff;
}
